@model ProfileCardModel;

<div class="row">
  <div class="col-12">
    <div class="card card-success">
      
      <div class="card-header">
        <h5 class="card-title font-weight-bolder">@Model.CardTitle</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      
      <div class="card-body">
        <div class="row">

          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <div class="image p-0">
                  <img src="dist/img/@Model.Profile.Avatar" class="img-circle elevation-4 p-1" height="150px">
                </div>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <strong>
                      <h5>@Model.Profile.Name</h5>
                    </strong>
                    <span class="users-list-date">@Model.Profile.City, @Model.Profile.Country</span>
                  </div>
                  <div class="col-12">
                    Curent balance
                  </div>
                  <div class="col-12 font-weight-bolder">
                    &nbsp;
                    <strong><h3><i class="fa-brands fa-ethereum btn-lg"></i>@Model.Profile.CurrentBalance </h3></strong>
                    @if (@Model.Profile.Type == "participant")
                    {
                      <button type="button" class="btn btn-block bg-gradient-warning btn-lg">Buy more</button>
                    }
                    
                    @if (@Model.ShowHasMail)
                    {
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-xl">
                        You got mail&nbsp;<i class="far fa-envelope nav-icon"></i>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="modal-xl">
                        <div class="modal-dialog modal-xl">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">E-mail</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              here with your own activation code: <b>T3ELZT5992</b>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>

                      </div>
                    }

                  </div>
                </div>
              </div>
            </div>
          </div>

          @if (Model.Profile.Portfolio.Any())
          {
            <div class="col-4">
              <div class="row">

                <div class="col-12">
                  <strong>
                    <h5>Portfolio</h5>
                  </strong>
                </div>
                @foreach (var portfolio in Model.Profile.Portfolio)
                {
                  <div class="col-6">@portfolio.Name</div>
                  <div class="col-3">@portfolio.Balance Eth</div>
                  <div class="col-3">
                    @if (portfolio.CheckIt>0)
                    {
                      <i class="far fa-star nav-icon text-cyan"></i>
                    }
                  </div>
                }
                @if (Model.ShowAddProfile)
                {
                  <div class="col-12 mt-2"> <a href="@Url.Action("Index", "Portfolio", new {profileId = @Model.Profile.Id})"class="btn btn-warning btn-sm">Add code to update portfolio</a></div>
                }
              </div>
            </div>
          }
          
          @if(Model.Profile.Badges.Any()){
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <strong>
                  <h5>Badges</h5>
                </strong>
              </div>
              @foreach (var badge in Model.Profile.Badges)
              {
                <div class="col-12">
                  <div class="row">
                    <div class="col-2"> <img src="dist/img/badge/@badge.Image" class="img-logo elevation-1 p-1" height="50px"></div>
                    <div class="col-10">
                      <div class="col-12">@badge.Name</div>
                      <div class="col-12 small">@badge.Subtitle</div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
          }

        </div>
      </div>

    </div>
  </div>
</div>
