@model ProfileCardModel;

<div class="row">
  <div class="col-12">
    <div class="card card-success">
      
      <div class="card-header">
        <h5 class="card-title font-weight-bolder">@Model.CardTitle</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      
      <div class="card-body">
        <div class="row">

          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <div class="image p-0">
                  <img src="dist/img/@Model.Profile.Avatar" class="img-circle elevation-4 p-1" height="170px" alt="User Image">
                </div>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <strong>
                      <h5>@Model.Profile.Name</h5>
                    </strong>
                    <span class="users-list-date">@Model.Profile.City, @Model.Profile.Country</span>
                  </div>
                  <div class="col-12 mt-2">
                    Curent balance
                  </div>
                  <div class="col-12 font-weight-bolder">
                    <strong><h3><i class="fa-brands fa-ethereum btn-lg"></i>@Model.Profile.CurrentBalance</h3></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>

          @if (Model.Profile.Portfolio != null)
          {
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <strong>
                    <h5>Portfolio</h5>
                  </strong>
                </div>
                @foreach (var portfolio in Model.Profile.Portfolio)
                {
                  <div class="col-4">@portfolio.Name</div>
                  <div class="col-8">@portfolio.Balance Eth</div>
                }
              </div>
            </div>
          }

          @if (Model.Profile.Badges != null)
          {
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <strong>
                    <h5>Badges</h5>
                  </strong>
                </div>
                @foreach (var badge in Model.Profile.Badges)
                {
                  <div class="col-2 mb-1">
                    <img src="dist/img/badges/@badge.Image" class="img-circle-logo elevation-1" height="50px" alt="badge Image">
                  </div>
                  <div class="col-10 mb-1">@badge.Name<br/><small>@badge.Subtitle</small></div>
                }
              </div>
            </div>
          }

        </div>
      </div>

    </div>
  </div>
</div>


